html, body {
    height: 100%;
}

.background {
    background-image: url('./fabrizio-conti-03lmlRTNo8g-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    font-family: system-ui;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    gap: 20px;
    font-size: 20px;
    height: 50px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer {
    height: 100px;
    background-color: lightslategray;
}